* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(24, 72, 143, 0.74)), to(rgba(36, 131, 143, 0.534))) no-repeat;
  background: linear-gradient(rgba(24, 72, 143, 0.74), rgba(36, 131, 143, 0.534)) no-repeat;
  height: 100%;
}

a {
  color: #fff;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card {
  border: 1px solid black;
  border-radius: 10px;
  height: 100%;
  margin: 6rem;
  padding: 3rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.card__header {
  height: 30px;
}

.card__tabs {
  border: 1px solid red;
  height: 70%;
}

.card__tabs form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__input {
  position: relative;
  margin-bottom: 1.5rem;
}

.card__input input {
  width: 100%;
  font-size: 1rem;
  padding: 16px 18px 16px 51px;
  background: #1c1c1c;
  border-radius: 8px;
  color: gainsboro;
}

.card__input i {
  position: absolute;
  left: 1rem;
  top: 50%;
  color: #fff;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  pointer-events: none;
}

.card__checkbox {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
}

.card__checkbox label {
  cursor: pointer;
  position: relative;
  width: auto;
}

.card__checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.card__checkbox label::before {
  content: "";
  position: absolute;
  left: -25%;
  width: 1rem;
  height: 1rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  border: 1px solid black;
}

.card__checkbox input:checked ~ label::before {
  content: "\f00c";
}

.card__btn {
  padding: 1rem;
  width: 8rem;
}
/*# sourceMappingURL=style.css.map */